   <div class="contents">
    <div class="top-content">
      <%# <a href="/ruby"　class="Ruby">Ruby</a> %>
      <%# <%= link_to("TweetAppとは","/about") %> 
      <%= link_to 'Ruby', ruby_path, class: 'Ruby' %>
    </div>
    <div class="is-flex">
      <div class="left-content">
        <%= link_to 'Ruby on Rails', ruby_path, class: 'Rails' %>
      </div>
      <div class="right-content">
        <%= link_to 'HTML & CSS', ruby_path, class: 'HTML' %>
      </div>
    </div>
    <div class="bottom-content">
      <%= link_to 'Other Languages', ruby_path, class: 'others' %>
    </div>
  </div>




